*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
}

.top{
    height: 50%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/983497/pexels-photo-983497.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: top;
    background-size: cover;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.navbar div{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.navbar i{
    background-color: #fff;
    border-radius: 50%;
    padding: 0.5rem;
}

.navbar div h4{
    font-size: 1.5rem;
    color: #fff;
}

.text{
    width: 100%;
    height: 100%;
    display: flex;   
    justify-content: space-between;
    align-items: self-end;
    padding: 3rem 0;
}

.text>div:first-child  {
    width: 50%;
    
}
.hader-text{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hader-text1{
    color: #fff;
    
}

.hader-text h5,p {
    margin-bottom: 1rem;
    letter-spacing: 1px;
    line-height: 18px;
}

.hader-text2{
    color: #fff;
}

.hader-text-i{
    display: flex; 
    gap: 1.5rem;
    color: #fff;
}

.text .hader{
    color: #fff;
    font-size: 4.5rem;
    font-weight: 500;
}

.hader-icon{
    color: #fff;
}

.bottom{
    height: 50%;
    width: 100%;
    background-color: chartreuse;
    display: flex;
}

.b1{
    height: 100%;
    width: 25%;
    background-color: #dddddd;
    padding: 3rem 4rem;
}

.b1-1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.b1-text h4{
    color: rgb(134, 134, 134);
    font-weight: 500;
    padding-bottom: 2rem;
}

.b1-icon{
    margin-bottom: 4rem;
}

.b1-icon i{
    background-color: rgb(134, 134, 134);
    border-radius: 50%;
    padding: 0.5rem 0.7rem;
}

.b2{
    height: 100%;
    width: 25%;
    background-image: url(https://images.pexels.com/photos/1853232/pexels-photo-1853232.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 3rem;
}

.b3{
    height: 100%;
    width: 25%;
}

.b3-top{
    height: 50%;
    width: 100%;
    background-color: rgb(236, 38, 38);    
}

.b3-top-text{
    color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}


.b3-bottom{
    height: 50%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/21293020/pexels-photo-21293020/free-photo-of-potted-plants-on-either-side-of-an-old-wooden-door.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: bottom;
    background-size: cover;
}

.b4{
    height: 100%;
    width: 25%;
    background-color: rgb(37, 37, 37);
    padding: 2.5rem 0 2.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.b4-lebal{
    color: #fff;
    padding-bottom: 1rem;
}

.b4-text1{
    display: flex;
    align-items: center;
    color: #fff;
    padding-bottom: 1rem;
}

.b4-text1 .dp {
    height: 4rem;
    width: 4rem;
    
    border-radius: 50%;
    overflow: hidden;
}

.b4-text1 div p{
    font-size: 15px;
    color: #c0c0c0;
    padding-left: 10px;
}

.b4-text1 .dp img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}

.b4-icon{
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-right: 3rem;
    padding-bottom: 3rem;
}
