*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main img{
    height: 660px;
    position: relative;
    z-index: 99;
}

.scroll-div{
    position: absolute;
    top: 26%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll-div::-webkit-scrollbar{
    display: none;
}

.scroll-div h1{
    font-size: 120px;
    font-weight: 800;
    display: inline-block;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-right: 30px;
    animation: scroll 1.5s linear infinite;
}

.scroll-div2{
    position: absolute;
    z-index: 100;
    top: 46%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll-div2::-webkit-scrollbar{
    display: none;
}

.scroll-div2 h1{
    font-size: 120px;
    font-weight: 800;
    color: transparent;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-right: 30px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    animation: scroll 2s linear infinite reverse ;
}

.scroll-div3{
    position: absolute;
    top: 66%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll-div3::-webkit-scrollbar{
    display: none;
}

.scroll-div3 h1{
    font-size: 120px;
    font-weight: 800;
    display: inline-block;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-right: 30px;
    animation: scroll 1.5s linear infinite;
}

.text{
    position: absolute ;
    font-size: 28px;
    font-weight: 800;
    width: 60%;
    z-index: 999;
    text-align: center;
    top: 16%;
    text-transform: uppercase;
}

@keyframes scroll {
    0%{
        transform: translateX(calc(-100% - 32px));;
    }
    100%{
        transform: translateX(0);
    }
}